<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hao.hua5">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/shilu"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/shilu"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".Register_oneActivity"
            android:label="@string/title_activity_register_one"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Register_twoActivity" />
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        </activity>
        <activity
            android:name=".PlayerActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".VRActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".WebActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SelectActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".GifActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SelectContryActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".SelectContry2Activity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>